<ion-content class="login-form ion-padding after-login-bg">
  <!-- <h2 class="page-title">Products</h2> -->
  <ion-searchbar placeholder="Type here to filter.."></ion-searchbar>
  <ion-card class="ion-no-margin product" *ngFor="let service of serviceList;let i = index;">
    <ion-row>
      <ion-col size="2" style="margin: auto">
        <ion-avatar>
          <img  src="{{service.url}}" *ngIf="service.url">
          <img src="../../assets/images/default-image.jpg" *ngIf="!service.url">
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <ion-grid>
          <h3 class="product-name">{{service.businessName}}</h3>
          <ion-row>
            <ion-col>
              <p class="ion-no-margin">Price: Rs-{{service.priceAfterDiscount}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" *ngIf="!service.addedToCart">
              <ion-button shape="round" expand="block" (click)="addToCart(i)">Add To Cart</ion-button>
            </ion-col>
            <ion-col class="ion-text-center" *ngIf="service.addedToCart">
              <ion-button shape="round" expand="block" (click)="removeFromCart(i)">Delete From Cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-card class="ion-no-margin product">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/serviceType-2.png">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Cooler Repair</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="ion-no-margin">Price: Rs-500/-</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button shape="round" expand="block">Add To Cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="ion-no-margin product">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/serviceType-3.png">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">AC Repair</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="ion-no-margin">Price: Rs-1800/-</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button shape="round" expand="block">Add To Cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="ion-no-margin product">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/serviceType-4.png">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Plumber</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="ion-no-margin">Price: Rs-800/-</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button shape="round" expand="block">Add To Cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="ion-no-margin product">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/serviceType-5.png">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Electrical</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="ion-no-margin">Price: Rs-500/-</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button shape="round" expand="block">Add To Cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card> -->
</ion-content>
