.ion-ele {
    border-radius: 15px;
    border: 1px solid;
    border-width: thin;
    --background: transparent;
    margin-bottom: 5px;
}
.units {
    display: flex;
    align-items: center;
    ion-input {
    border: 1px solid var(--iconcolor);
    width: 100px;
    border-radius: 5px;
    margin-left: 5px;
    }
}
.service {
    color: var(--black);
    border: 1px solid darkgreen;
    margin-bottom: 10px;
    border-radius: 15px;
	--background:transparent
}
.service-img {
  width: 50px;
  height: 50px;
}
.service-name {
    margin: 5px auto;
}
