<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="extension-puzzle-outline"></ion-icon>About
  </h2>
  <div class="content-section">
  <h3> Merchants & Retailers</h3>
  <p>My3KaRRt empowers and digitizes retail stores to sell their products to customers and keep them loyal.
    We provide retailers with facilities such as customized analytics and 24/7 support.</p>
  <p>Retailer partners can grow their business by 20% Customer Walkin's by 25% Margins by a minimum of 20%.
  </p>

  <h3>Customers & End Users</h3>
  <p>Customer can shop with their local retailer for all types of products - ranging from consumables to wearable
    products. Professional freelancers can locate and bag opportunities close by. People looking to network and
    connect with others can do so with our patented Virtual Teleport technology on real-time and get instant
    responses.</p>
  </div>
</ion-content>