<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="call-outline"></ion-icon>Contact Us
  </h2>
  <div class="content-section">
    <ul class="list-unstyled">
      <li class="mb-3">
        <strong class="d-block mb-1">Address</strong>
        <span> DOWN SOUTH EMPIRE (DSE) PRIVATE LIMITED 'Somara Co-Works', J.P Nagar 1st Phase, Opposite Pump House, Bengaluru - 560071</span>
      </li>
      <li class="mb-3">
        <strong class="d-block mb-1">Phone</strong>
        <span>+91 8147354971</span>
      </li>
      <li class="mb-3">
        <strong class="d-block mb-1">Email</strong>
        <span>support@my3karrt.com</span>
      </li>
      <li class="mb-3">
        <strong class="d-block mb-1">Connect on WhatsApp</strong>
        <span>
          <a href="https://wa.me/918217719237?text=I'm%20interested%20in%20My3Kart%20Platform">
            <ion-icon name="logo-whatsapp" style="font-size: 60px;"></ion-icon>
            <!-- <img class="img-fluid" src="img/walogo.png"> -->
            </a>
          </span>
      </li>
    </ul>
    </div>
</ion-content>