<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline" slot="start"></ion-icon>Product Orders
  </h2>
  <ion-list class="ion-list-ele">
    <ion-row (click)="expandItem($event,item)" class="order-status" *ngFor="let item of orderedItems">
      <ion-col size="6">
        <ion-label>Store Name: <b>{{item.name}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Ordered Date: <b>{{item.date}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Order Id: <b>{{item.orderId}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Delivery Status: <b>{{item.status}}</b></ion-label>
      </ion-col>
      <app-product-order-row-expand [items]="stores" [expanded]="item.expand"></app-product-order-row-expand>
    </ion-row>
  </ion-list>
</ion-content>