<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline" slot="start"></ion-icon>Product Orders
  </h2>
  <!-- <ion-grid>
    <div  (click)="expandItem($event, item, i)" *ngFor="let item of orders;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}">
      <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Store Name: <b>{{item.storeName}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Ordered Date: <b>{{item.createdOn|date:"dd/MM/yy"}}</b></ion-label>
        </ion-col>
        </div>
        <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Order Id: <b>{{item.orderID}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Delivery Status: <b>{{item.deliveryStatus}}</b></ion-label>
        </ion-col>
      </div> 
      <div class="w-100">   
      <app-product-order-row-expand *ngIf="showStoreOrders && item.expand"
       [TotalAmount]="TotalAmount" [items]="orderedItems" 
   [expanded]="item.expand"></app-product-order-row-expand>
   </div>   
    </div>
</ion-grid> -->
  <div direction="x" class="wide-as-needed">
    <table class="table">
      <tbody>
        <div (click)="expandItem($event, item, i)" *ngFor="let item of orders;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}">
          <tr>
            <td><b>Order Id:</b></td>
            <td class="label">{{item.orderID}}</td>
          </tr>
          <tr>
            <td><b>Delivery Status:</b></td>
            <td class="label">{{item.deliveryStatus}}</td>
          </tr>
          <tr>
            <td><b>Store Name:</b></td>
            <td class="label" style="width: 140px;">{{item.storeName}}</td>
          </tr>
          <app-product-order-row-expand *ngIf="showStoreOrders && item.expand" [orderDetails]="item" [items]="orderedItems" [expanded]="item.expand"></app-product-order-row-expand>
        </div>
      </tbody>
    </table>
  </div>
</ion-content>