<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="construct-outline"></ion-icon>Services
  </h2>

  <ion-searchbar *ngIf="serviceInfoList.length > 0" [(ngModel)]="searchService" placeholder="Search By Service Name" (ionChange)="filterItems()"></ion-searchbar>
  <ion-row *ngIf="serviceInfoList.length > 0">
    <ion-button (click)="mapView()">Map View</ion-button>
    <ion-button (click)="listView()">List View</ion-button>
    <ion-button (click)="presentModal('Change Location of Search')">Change Neighborhood</ion-button>
  </ion-row>
  <ion-card class="ion-no-margin service" *ngFor="let service of masterData;let i = index;">
    <ion-row (click)="getServices(service)">
      <ion-col size="2" style="margin: auto">
        <ion-avatar>
          <img class="service-img" src="{{service.logo}}" *ngIf="service.logo">
          <img class="service-img" src="../../assets/images/default-image.jpg" *ngIf="!service.logo">
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <h4 class="service-name">{{service.businessName}}</h4>
        <p class="ion-no-margin"><b>Distance:</b> {{service.distance}}</p>
        <p class="ion-no-margin">
          <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
          <b>Address:</b>{{service.address}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

  <div>
    <div #map id="serviceMap" class="mapView"></div>
  </div>
</ion-content>