<ion-content class="login-form ion-padding after-login-bg">
  <h4 class="page-title">
    <ion-icon name="wallet-outline"></ion-icon>My3Kart Support FAQ’s
  </h4>
  <div class="content-section">
    <h5>Merchants : FAQ</h5>
    <p>YOU CAN FIND THE ANSWERS TO MOST OF YOUR QUESTIONS HERE. IF YOU HAVE A SPECIAL QUERY PLEASE EMAIL US AT <a href = "mailto: SUPPORT@MY3.STORE">SUPPORT@MY3.STORE</a> . OUR TEAM WILL RESPOND TO YOU IN 1-4 BUSINESS DAYS.</p>
    <p><b>1.Can I place my orders even when stores are closed?</b></p>
    <p>Ans: Yes, you can & the stores will send you the notification of designated pick up time or will let you know the delivery schedule.</p>
    <p><b>2.Can I pay online for all my purchases?</b></p>
    <p>Ans: We are currently working on an online payment portal. Currently it is COD.</p>
    <p><b>3.What is My3Kart doing to keep customers and employees safe?</b></p>
    <p>Ans: At My3Kart employee and customer safety is given  top priority. We ensure all our delivery executives and employees follow the WHO defined safety protocols.</p>
    <p><b>4. Is it safe to receive orders?</b></p>
    <p>Ans: For guidance on COVID-19, please refer to the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Organization website</a></p>
    <p><b>5. Are you delivering essential products only?</b></p>
    <p>Ans: As per the government guidelines we are delivering essential and non-essential products that are in our catalogues of products.</p>
    <p><b>6. What is the pick-up option?</b></p>
    <p>Ans: Once your order is ready, the retailer store will keep packaged and ready for you to pick it up at a time of your convenience.</p>
    <p><b>7. How to collect your order?</b></p>
    <p>Ans: When the package is ready for pickup, you'll receive a notification on the app informing the same. Details of the store address and its working hours will also be shared in these notifications.</p>
    <p>At the store location, present a valid photo ID for the purpose of verification. Any of the photo IDs mentioned below can be presented at the time of picking up the order.</p>
    <p>•	Voter ID card</p>
    <p>•	PAN Card</p>
    <p>•	Passport</p>
    <p>•	Driving License</p>
    <p>•	Aadhaar Card</p>
    <p>•	Employer ID card with photo</p>
    <p>•	ID card provided by institutions such as Student ID card with photo</p>
    <p>In case you aren't able to make it to the store, you can send your friend to collect your package. Your friend can collect your package on presenting a copy of your valid photo ID, duly signed by you.</p>
    <p>You'll have 48 hours to pick up your package after it is delivered to the store. If your package is not picked up in 48 hours, it will be returned for a refund if already paid in advance.</p>
    <p><b>8. What can I return?</b></p>
    <p>Ans: Items are returnable if you've received them in a condition that is physically damaged, has missing parts or accessories, defective or different from its description on the product detail page on My3Kart.</p>
    <p><b>Additional FAQs- based on the new delivery service integration</b></p>
    <p><b>1. Do you deliver anywhere around Bangalore?</b></p>
    <p>Ans: Yes, we do! We deliver anywhere across Bangalore.</p>
    <p><b>2.	What can you deliver?</b></p>
    <p>Ans: From Gas cylinders to grocery, from pin to pen, we deliver pretty much everything that you want us to deliver.</p>
    <p><b>3.	How do you charge?</b></p>
    <p>Ans: We believe in providing the best service at the least possible costs. Hence our costs are competitive yet extremely reasonable. Call us to know more</p>
    <p><b>4.	Are our goods safe?</b></p>
    <p>Ans: Every parcel is given utmost care and safety measures in terms of the package is concerned.</p>
    <p><b>5.	How safe is the delivery process?</b></p>
    <p>Ans: We follow stringent Covid-19 safety norms and ensure safe ‘no-contact’ delivery.</p>
    <p><b>6.	I am a shop owner can I book delivery from your app?</b></p>
    <p>Ans: Yes, certainly. Our border less delivery systems help you retain your loyal customers despite CoVid lockdown, heavy traffic and rains!</p>
    <p><b>7.	I run a business and I want my vendors to send me materials. Can I do that on My3Karrt?</b></p>
    <p>We are always delighted to help you run your business smoothly. Talk to us on 8147354971 give phone number and we will arrange for the same ASAP. Our tech team is working diligently to add this feature to the app and you will be able to use it soon!</p>
  </div>
</ion-content>
