<ion-content class="login-form  after-login-bg">
  <ion-toolbar class="after-login-bg">
    <ion-title class="ion-text-center"><strong>{{model_title}}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle-outline" (click)="dismiss()"  size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
<ion-list class="paymenttype-group">
  <ion-radio-group name="paymenttype" [(ngModel)]="selectedAddress">
    <ion-item class="ion-add"   button (click)="addressChange(ing)" 
     *ngFor="let ing of userAddressData; let i = index">
      <ion-radio slot="start"   value="{{ing.id}}"  checked="ing.checked"></ion-radio>
      <ion-label>{{ing.address}}</ion-label>
    </ion-item>
  </ion-radio-group>
</ion-list>

 <ion-radio-group allow-empty-selection="true" name="radio-group"  #radioMaps  
 *ngIf="this.model_title == 'Delivery Address'">
  <ion-item>
    <ion-label style="font-size: small;">Use Maps</ion-label>
    <ion-radio slot="start" value="secondary" (click)="updateRadio($event)"></ion-radio>
  </ion-item>
</ion-radio-group> 


<ion-list [hidden]="autocompleteItems.length == 0">
  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
    {{ item.description }}
  </ion-item>
</ion-list>

<ion-title *ngIf="this.model_title == 'Change Location of Search'" class="ion-text-center"><strong>{{currentLocation}}</strong></ion-title>

  <ion-row *ngIf="mapImage">
    <ion-col size="10">
      <ion-searchbar [(ngModel)]="autocomplete.input"  (ionInput)="UpdateSearchResults()" placeholder="Search for a place" 
       (ionClear)="ClearAutocomplete()"></ion-searchbar>
    </ion-col>
    <ion-col  size="2" class="ion-padding-top">
        <!-- <ion-icon name="location-outline" size="large" (click)="tryGeolocation()"></ion-icon> -->
        <ion-button size="small" (click)="tryGeolocation()">Save</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="mapImage">
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="map-wrapper" id="mapWrapper">
    <div #map id="map"  lang=""    style="height: 100%;"></div>
  </div>
</ion-content>
