google-map {
    #map {
        height: 100% !important;
    }
}
.location {
    background: transparent !important;
    ion-item {
        --background: transparent !important;
    }
}
#map_canvas {
    width: 100%;
    height: 80%;
    border: 1px solid red;
  }
   
  .close-icon {
    font-size: 32px;
    color: var(--iconcolor);
  }
  #address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
   
  #map {
    width: 100%;
    height: 100px;
  }
   
  .map-wrapper {
    position: relative;
    height: 100%;
    min-width: 360px;
    min-height: 307px;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }
  