<ion-content class="checkout ion-padding after-login-bg">
  <h2 class="page-title">Checkout</h2>
  <div [ngSwitch]="isServiceType">
    <div *ngSwitchCase="true">
      <ion-card class="provider-address">
        <h4>Service Provider Details:</h4>
        <h5>{{storeOrServiceName}}</h5>
        <h6>{{storeOrServiceAddress}}</h6>
      </ion-card>
    </div>
    <div *ngSwitchCase="false">
      <ion-card class="provider-address">
        <h4>Store Details:</h4>
        <h5>{{storeOrServiceName}}</h5>
        <h6>{{storeOrServiceAddress}}</h6>
      </ion-card>
    </div>
  </div>
  <form>
    <ion-list class="address-group">
      <ion-radio-group value="default">
        <ion-list-header>
          <ion-label class="labelHeader">Delivery Address</ion-label>
        </ion-list-header>
        <ion-item class="ion-add">
          <ion-radio slot="start" value="default"></ion-radio>
          <p>{{defaultAddress}}</p>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <!-- <ion-row>
    <ion-col size="3">Store:</ion-col>
    <ion-col>IKEA, Hi-tech City</ion-col>
    </ion-row> -->
    <ion-card class="cart-list" *ngFor="let item of  cartItems">
      <ion-card-content>
        <ion-row>
          <ion-col size="3" style="margin: auto">
            <ion-avatar>
              <img src="{{item.url}}" *ngIf="item.url">
              <img src="../../../assets/images/default-image.jpg" *ngIf="!item.url">
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            <h3 text-left>{{item.productName? item.productName: item.businessName}} - <span class="price">{{item.priceAfterDiscount | currency:'INR'}}</span></h3>
            <h3>Count - {{item.itemCount}} &nbsp;&nbsp; {{item.units? 'Units - ' + item.units: ''}}</h3>
            <h3>Total Item Price: {{item.priceAfterDiscount * item.itemCount | currency:'INR'}}</h3>
          </ion-col>
          <ion-col size="2" class="ion-padding-top">
            <ion-icon class="delete" name="trash-outline" (click)="removeItem(item)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-list class="deliverytype-group" *ngIf="!isServiceType">
      <ion-radio-group name="deliverytype" [(ngModel)]="deliveryType" (ionChange)="onDeliveryTypeChange($event)">
        <ion-list-header>
          <ion-label class="labelHeader">Choose Delivery Type</ion-label>
        </ion-list-header>

        <ion-item class="ion-add" [attr.disabled]="!isValidAmount">
          <ion-radio slot="start" value="0"></ion-radio>
          <ion-label class="selectionLabel">Home Delivery</ion-label>
        </ion-item>

        <ion-item class="ion-add" [attr.disabled]="!isValidAmount">
          <ion-radio slot="start" value="1"></ion-radio>
          <ion-label class="selectionLabel">Self pickup</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list class="paymenttype-group">
      <ion-radio-group name="paymenttype" [(ngModel)]="paymentType">
        <ion-list-header>
          <ion-label class="labelHeader">Choose Payment Type</ion-label>
        </ion-list-header>

        <ion-item class="ion-add" [attr.disabled]="!isValidAmount">
          <ion-radio slot="start" value="0"></ion-radio>
          <ion-label class="selectionLabel">Online Payment</ion-label>
        </ion-item>

        <ion-item class="ion-add" [attr.disabled]="!isValidAmount">
          <ion-radio slot="start" value="1"></ion-radio>
          <ion-label class="selectionLabel">Cash on delivery</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <h4>Sub Total: {{subTotal | currency:'INR'}}</h4>
    <div [ngSwitch]="deliveryType">
      <div *ngSwitchCase="0">
        <h6>Delivery and Processing Fee: {{deliveryCharges + processingFee | currency:'INR'}}</h6>
        <h3>Total cost: {{subTotal + deliveryCharges + processingFee | currency:'INR'}}</h3>
      </div>
      <div *ngSwitchCase="1">
        <h6>Processing Fee: {{processingFee | currency:'INR'}}</h6>
        <h3>Total cost: {{subTotal + processingFee | currency:'INR'}}</h3>
      </div>
    </div>


    <div [ngSwitch]="paymentType">
      <div *ngSwitchCase="0">
        <ion-row>
          <ion-col class="ion-text-center ion-margin-top">
            <ion-button type="submit" shape="round" expand="block" [attr.disabled]="!isValidAmount" (click)="payWithRazorMobileApp();" class="ion-margin-bottom">Make payment</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngSwitchCase="1">
        <ion-row>
          <ion-col class="ion-text-center ion-margin-top">
            <ion-button type="submit" shape="round" expand="block" [attr.disabled]="!isValidAmount" (click)="makeAnOrder();" class="ion-margin-bottom">Place an order</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </form>
</ion-content>