<ion-content class="checkout ion-padding after-login-bg">
  <h2 class="page-title">Checkout</h2>
  <form>
    <ion-list class="address-group">
      <ion-radio-group value="default">
        <ion-list-header>
          <ion-label>Delivery Address</ion-label>
        </ion-list-header>
        <ion-item class="ion-add">
          <ion-radio slot="start" value="default" ></ion-radio>
          <p>{{defaultAddress}}</p>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  <!-- <ion-row>
    <ion-col size="3">Store:</ion-col>
    <ion-col>IKEA, Hi-tech City</ion-col>
    </ion-row> -->
  <ion-card class="cart-list"   *ngFor="let item of  cartItems">
    <ion-card-content>
      <ion-row>
        <ion-col size="3" style="margin: auto">
          <ion-avatar>
            <img src="{{item.url}}" *ngIf="item.url">
            <img src="../../../assets/images/default-image.jpg" *ngIf="!item.url">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h3 text-left>{{item.productName? item.productName: item.businessName}} - <span class="price">{{item.priceAfterDiscount | currency:'INR'}}</span></h3>
          <h3>Count - {{item.itemCount}} &nbsp;&nbsp; {{item.units? 'Units - ' + item.units: ''}}</h3>
          <h3>Total Price:  {{item.priceAfterDiscount * item.itemCount | currency:'INR'}}</h3>
        </ion-col>
        <ion-col size="2" class="ion-padding-top">
          <ion-icon class="delete" name="trash-outline" (click)="removeItem(item)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <h3>Sub Total: {{subTotal | currency:'INR'}}</h3>
  <p>Delivery and Processing Fee: {{deliveryCharges+processingFee | currency:'INR'}}</p>
  <h3>Total cost: {{subTotal + deliveryCharges+ processingFee | currency:'INR'}}</h3>

    <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
            <ion-button type="submit" shape="round" expand="block" (click)="payWithRazorMobileApp();" class="ion-margin-bottom">Make payment</ion-button>
        </ion-col>
    </ion-row>
</form>
</ion-content>
