<ion-content class="checkout ion-padding after-login-bg">
  <h2 class="page-title">Checkout</h2>
  <form>
    <ion-list class="address-group">
      <ion-radio-group value="default">
        <ion-list-header>
          <ion-label>Delivery Address</ion-label>
        </ion-list-header>
        <ion-item class="ion-add">
          <ion-radio slot="start" value="default" ></ion-radio>
          <p>{{defaultAddress}}</p>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  <ion-row>
    <ion-col size="3">Store:</ion-col>
    <ion-col>IKEA, Hi-tech City</ion-col>
    </ion-row>
  <ion-card class="cart-list"   *ngFor="let itm of  cartItems">
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
              <img src="{{'../assets/images/dump/'+itm.thumb}}">
        </ion-col>
        <ion-col size="7">
          <h3 text-left>{{itm.name}} - <span class="price">{{itm.price | currency:'INR'}}</span></h3>
          <h3>Count - {{itm.count}} &nbsp;&nbsp; Units - {{itm.units}}</h3>
          <h3>Total Price:  {{itm.price * itm.count | currency:'INR'}}</h3>
        </ion-col>
        <ion-col size="2" class="ion-padding-top">
          <ion-icon class="delete" name="trash-outline" (click)="removeItem(itm)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <h3>Sub Total: {{'1030' | currency:'INR'}}</h3>
  <p>Delivery charges: {{'100' | currency:'INR'}}</p>
  <h3>Total cost: {{'1130' | currency:'INR'}}</h3>
  
    <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
            <ion-button type="submit" shape="round" expand="block"  class="ion-margin-bottom">Make payment</ion-button>
        </ion-col>
    </ion-row>
</form>
</ion-content>
