.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;  
    vertical-align: middle;
    position: absolute;
    transform: translateY(-250%);
    bottom: 50%;
    z-index: 999;
  }
  .prev-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }
  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }
  
.table1 tr td:first-child{
  text-align: right;
  padding-right: 5px;
  width: 40%;
 }
 table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background: #FFF;
  margin-bottom: 10px;
}

th, td {
  padding: 5px;
  border: 1px solid;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}