<ion-content class="login-form ion-padding after-login-bg">
  <h4 class="page-title">
    <ion-icon name="prism-outline"></ion-icon>Privacy Policy
  </h4>
  <div class="content-section">
    <h5>Definition</h5>
    <p>In this Privacy Policy, reference to “you” or “user” means any person submitting any data or information to <b>Down
      South Empire (DSE) Private Limited</b>, a company incorporated under the laws of India.</p>
    <p>The term “<b>App</b>” means the MY3kaRRt.</p>
    <p>The term “<b>Company</b>” means <b>Down South Empire (DSE) Private Limited</b>, a company incorporated under the laws of India.</p>
    <p>The term “<b>Services</b>” implies any information, services, content, features, technologies or functions and all related websites, applications and services offered to you by us.</p>
    <p>The term “<b>Platform</b>” means the websites, mobile apps, mobile sites, App or other online properties through which we offer our Services.</p>
    <p>We may collect non-personal identification information about Users whenever they interact
      with our Site. Non-personal identification information may include the browser name, the type of computer and
      technical information, such as the operating system and the Internet service providers’ utilized and other similar
      information.</p>
    <p>The terms “we”, “us”, “our” or “Company” shall mean Down South Empire (DSE) Private Limited.</p>
    <p>In the course of registering for and availing various services provided by us from time to time through our Platform,you may be required to provide your name, residence address,
      workplace address/ location, email address, mobile number, date of birth, educational qualifications, payment mode details  and similar Personal Information ("<b>Personal Information</b>").
      The Personal Information is used for the following general purposes: to customize the content you see, to fulfil your requests for certain services and to contact you about our services
      and the services provided by partners, via, including but not limited to, emails, text messages and other means of communication. Unless otherwise stated explicitly, this Policy applies
      to Personal Information as may be disclosed to us for using the App or at the time of accessing our Platform.</p>
    <p>By using or accessing our Platform or by providing Personal Information to us on or through the Platform, you consent to the collection, use, transfer and disclosure of that information in
      accordance with this privacy policy and applicable law.</p>
    <p>We are committed to protecting the privacy and confidentiality of all Personal Information that you may share as a user of the App or our Platform,in furtherance thereof, we have this policy to validate our good faith.</p>
    <h5>Use of Information</h5>
    <p>Personal Information will be kept confidential and will be used for our research, marketing and strategic client analysis objectives and other internal business purposes only. We do not sell or rent Personal Information
      except that in case you are a customer of our search services through the Platform or App, your Personal Information shall be shared with our subscribers/advertisers and you shall be deemed to have given consent to the
      same at the time of registration for using ourPlatform. Further, the subscribers / advertisers who are listed with us, may call / contact you, based on the query or enquiry that you make with us, enquiring about any product or services.</p>
    <p>We will share or disclose the Personal Information only under the following circumstances:</p>
    <p>  If we have your consent or deemed consent to do so, or–</p>
    <p>  If we are compelled by law (including any legislative and/or administrative directions and/or  judicial orders) to do so.</p>
    <p>Additionally, you may encounter "cookies" or other similar devices on this Platform that are placed by third parties. We do not control the use of cookies by third parties.</p>
    <p>In furtherance of the confidentiality with which we treat Personal Information we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online at the time of registration
      for availing the services through the Platform.</p>
    <p>We provide you the ability to edit your account information and preferences at any time. To protect your privacy and security, we have taken reasonable steps to verify your identity.</p>
    <p>You acknowledge that you are disclosing Personal Information voluntarily to use the services offered on our Platform.  If you wish not to disclose any Personal Information you may refrain from doing so; however, if you do not provide the requested
      information, it is possible that the registration process would be incomplete and you would not be able to avail our services as you desired through the Platform/App.</p>
    <p>If you are our corporate customer and/ or business account holder, it is possible that we have entered into a contract with you for non-disclosure of confidential information. This Policy shall not affect such a contract in any manner. You hereby
      acknowledge and covenant that any information shared with you by us, or any information that you have had access to due to your use of the App / Platform and such information not being available to the public in general shall be considered as
      confidential information and the same shall not be disclosed by you to any third party unless required under the laws.</p>
    <h5>Data collected while registration:</h5>
    <p>When you register to our services on our Platform/App, we may collect the following information from you if you register using your Google account:  first name, last name, email address and mobile number;</p>
    <p>If you are registering through your mobile number, we collect your mobile number, first name, last name and email address.</p>
    <p>Depending on the choices and option to log-in to Platform/App, during the process of engaging our Services, you may opt to give the following additional personal data:</p>
    <p>a.	your name;</p>
    <p>b.	e-mail address;</p>
    <p>c.	mobile number;</p>
    <p>d.	your credit/debit card details in case you want to purchase our paid/business services</p>
    <p><u>Data collected while communication through the chat features:</u></p>
    <p>•	Activity data (private) (registration date, last connection, interactions with other members and third-party accounts, number of transactions, etc.) </p>
    <p><u>Location information</u></p>
    <p>•	During the access of the Services through the Platform/App by you, if you post an item on our Platform/App or look for a particular item / service in a
      particular location, we automatically collect and process information about your actual location. We use various technologies to determine location, including IP address, GPS,
      Wi-Fi access points and mobile towers of your digital device in use. Your location data allows you to see user(s) near you who are registered with our Platform and accessing our
      services and helps you in connecting with the other users of our App / Platform within your location. You may choose the “offline mode” to stop providing access to your location,
      however, upon opting the offline mode, you will not have access to all the features of the App/ Platform. Therefore,if you do not allow us to have access to your location data,
      you will still be able to use our Services but with limited functionality. If, in case, you do allow us to access your location data you can always change this later by going
      to the settings on our App or  Platform and disable the permissions related to location sharing during the access of our Platform/App. You understand and consent that by using
      the App / Platform, you have granted us permission to access your location.</p>
    <p><u>Client and Log data</u></p>
    <p>•	We store the technical details, including the Internet Protocol (IP) address of your device, time zone, and operating system. We will also store your login information
      (registration date, date of last password changes, date of last successful login), type and version of your browser based on your access to the Platform/App.</p>
    <h5>Legal Use of the User</h5>
    <p>It is hereby acknowledged and covenanted by the user using our App / Platform is of legal age in accordance with the laws of the Republic of India. Further, if the user of our App / Platform has not attained the legal age and any
      issue arising out of the same, we / the Company shall not be held responsible in any manner and we / the Company shall be held indemnified by the user, against any claim, losses, damages, etc., at all times.</p>
    <h5>Disclosures required by law</h5>
    <p>We may disclose Personal Information of the user(s) of the App / Platform if required to do so by law or in good faith that such action is necessary to:</p>
    <p>• comply with a legal obligation (legislative, judicial and/or administrative, as the case may be); </p>
    <p>• protect and defend our legal rights, as well as third party right owner to enforce the terms of Privacy Policy and/or against legal claims of any manner in good faith, as may be legally possible;</p>
    <p>act in urgent circumstances to protect the personal safety, protect the rights of user(s) or the general public, or </p>
    <p>protect us against any legal liability. </p>
    <h5>Third Party Links</h5>
    <p>The App or the Platform may contain links to third party websites / app. In the event you access any such third party links, you will be governed by a separate privacy policy of such link.
      The control of such links, websites, app or platforms are not controlled by us and we shall not be held responsible in any manner whatsoever. It is encouraged that you read the privacy
      policies of such third party platforms and make yourself aware of laws / rules governing such policies.</p>
    <h5>Amendments to this Privacy Policy</h5>
    <p>This Privacy Policy may be amended / updated from time to time. Upon amendment, the updated Privacy policy shall be uploaded on our Platform and you shall be bound by the same. In case of any concern, you may contact us at the details provided below.</p>
    <h5>Communications</h5>
    <p>You may contact us for your concern regarding this Privacy Policy, by writing to us at support@my3karrt.com.</p>
  </div>
</ion-content>
