<ion-content class="login-form ion-padding after-login-bg">
  <ion-searchbar placeholder="Type here to filter.."></ion-searchbar>
   <ion-row>
    <ion-button (click)="mapView()">Map View</ion-button> <ion-button (click)="listView()" >List View</ion-button>
   </ion-row>

<div *ngIf="displayListView" >
  <ion-card class="ion-no-margin product" *ngFor="let merchant of merchantList; let i = index;">

    <ion-row (click)="getProducts(merchant)">
      <ion-col size="3">
        <img class="product-img" src="{{merchant.url}}" *ngIf="merchant.url">
        <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!merchant.url">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">{{merchant.name}}</h3>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class="ion-no-margin">category: {{merchant.catergory}}</p>
            </ion-col>
            <ion-col size="6">
              <p class="ion-no-margin">Distance: {{merchant.distance}} KM</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="ion-no-margin">
              <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
              <ion-label class="ion-no-margin units">Address: {{merchant.address}}</ion-label>
            </p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-card class="ion-no-margin product" (click)="getProducts()">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/merchant-2.jpeg">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Forever-21</h3>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class="ion-no-margin">category: Merchant</p>
            </ion-col>
            <ion-col size="6">
              <p class="ion-no-margin">Distance: 2 KM</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="ion-no-margin">
              <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
              <ion-label class="ion-no-margin units">Address: Abids, Hyderabad, Telangana.</ion-label>
            </p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <!-- <ion-card class="ion-no-margin product" (click)="getProducts()">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/merchant-3.jpeg">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Walamart</h3>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class="ion-no-margin">category: Merchant</p>
            </ion-col>
            <ion-col size="6">
              <p class="ion-no-margin">Distance: 1 KM</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="ion-no-margin">
              <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
              <ion-label class="ion-no-margin units">Address: Nampally, Hyderabad, Telangana.</ion-label>
            </p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <!-- <ion-card class="ion-no-margin product" (click)="getProducts()">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/merchant-4.jpeg">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Dollarama</h3>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class="ion-no-margin">category: Merchant</p>
            </ion-col>
            <ion-col size="6">
              <p class="ion-no-margin">Distance: 3.5 KM</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="ion-no-margin">
              <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
              <ion-label class="ion-no-margin units">Address: JNTU, Hyderabad, Telangana.</ion-label>
            </p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <!-- <ion-card class="ion-no-margin product" (click)="getProducts()">
    <ion-row>
      <ion-col size="3">
        <img class="product-img" src="../assets/images/dump/merchant-5.jpeg">
      </ion-col>
      <ion-col size="9">
        <h3 class="product-name">Big Bazar</h3>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class="ion-no-margin">category: Merchant</p>
            </ion-col>
            <ion-col size="6">
              <p class="ion-no-margin">Distance: 2.3 KM</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="ion-no-margin">
              <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
              <ion-label class="ion-no-margin units">Address: BalaNagar, Hyderabad, Telangana.</ion-label>
            </p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card> -->
</div>

<div>
  <!-- <app-google-maps></app-google-maps> *ngIf="!displayListView" -->
  <div #map id="map"  style="height: 100%;"></div>
</div>
</ion-content>
