<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline"></ion-icon> Merchants
  </h2>

  <ion-searchbar *ngIf="merchantList.length > 0" [(ngModel)]="searchStore" placeholder="Search By Name" (ionChange)="filterItems()"></ion-searchbar>


  <ion-row *ngIf="merchantList.length > 0">
    <ion-button (click)="mapView()">Map View</ion-button>
    <ion-button (click)="listView()">List View</ion-button>
    <ion-button (click)="presentModal('Change Neighbourhood')">Change Neighborhood</ion-button>
  </ion-row>

  <div *ngIf="displayListView">
    <ion-card class="ion-no-margin product" *ngFor="let merchant of masterData; let i = index;">
      <ion-row (click)="getProducts(merchant)">
        <ion-col size="2" style="margin: auto">
          <ion-avatar>
            <img class="product-img" src="{{merchant.logo}}" *ngIf="merchant.logo">
            <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!merchant.logo">
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <h4 class="product-name">{{merchant.name}}</h4>
          <ion-row>
            <ion-col>
              <b>category:</b> {{merchant.category}}
            </ion-col>
            <ion-col>
              <b>Dist. From Loc. Of Search:</b> {{merchant.distance}} KM
            </ion-col>
          </ion-row>
          <p class="ion-no-margin">
            <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
            <b>Address:</b> {{merchant.address}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div>
    <!-- <app-google-maps></app-google-maps> *ngIf="!displayListView" -->
    <div #map id="map" class="mapView"></div>
  </div>
</ion-content>