<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline"></ion-icon> Merchants
  </h2>
  <ion-searchbar placeholder="Type here to filter.."></ion-searchbar>
  <ion-row>
    <ion-button (click)="mapView()">Map View</ion-button>
    <ion-button (click)="listView()">List View</ion-button>
  </ion-row>

  <div *ngIf="displayListView">
    <ion-card class="ion-no-margin product" *ngFor="let merchant of merchantList; let i = index;">
      <ion-row (click)="getProducts(merchant)">
        <ion-col size="2" style="margin: auto">
          <ion-avatar>
            <img class="product-img"src="{{merchant.url}}" *ngIf="merchant.url">
            <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!merchant.url">
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <h4 class="product-name">{{merchant.name}}</h4>
          <ion-row>
            <ion-col>
            <b>category:</b> {{merchant.catergory}}
          </ion-col>
          <ion-col>
           <b>Distance:</b> {{merchant.distance}} KM
          </ion-col>
          </ion-row>
          <p class="ion-no-margin">
            <ion-icon name="location-outline" class="addr-icon" slot="start"></ion-icon>
            <b>Address:</b> {{merchant.address}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div>
    <!-- <app-google-maps></app-google-maps> *ngIf="!displayListView" -->
    <div #map id="map" class="mapView"></div>
  </div>
</ion-content>