<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="wallet-outline"></ion-icon>Refunds/Cancellations
  </h2>
  <div class="content-section">
    <p> It is our endeavour to provide you with the best possible customer service and hence we
      permit returns and exchanges as long as the product/s are unused, unwashed, defective/damaged, and are returned
      in saleable condition with all original packaging, tags and invoices. </p>
    <p> You are required to inform us within 48 hours of receiving the package on
      swatihandicrafts64@gmail.com with your order number and the item(s) you wish to return/ exchange, else the goods
      will be considered sold and no further requests will be entertained. We will revert to your email within 24-48
      hours with an appropriate solution. </p>
    <p> A refund will be issued to your original mode of payment in case of a return on
      non-discounted merchandise. In case of an exchange, please mention the size you wish to receive as an exchange
      in the initial email. Exchange orders will be shipped upon receipt of the returned order. </p>
    <p> Refunds will be issued only within 7-10 working days from the date of pickup &amp; mode
      of refund will be the original method of payment (except COD). </p>
  </div>
</ion-content>