<ion-content class="login-form ion-padding after-login-bg">
  <h4 class="page-title">
    <ion-icon name="wallet-outline"></ion-icon>Refund & Cancellation Policy
  </h4>
  <div class="content-section">
    <p>1. The shop/business owner is the final decision maker with regards to return and refund.</p>
    <p>2.	My3Karrt is neither accountable nor responsible for the shop/business owner’s decision on the refund or return of goods.</p>
    <p>3.	My3Karrt takes responsibility of liasoning [acting as a communication partner] and delivery alone.</p>
    <p>4.	My3Karrt does not hold any legal liability of the commercial transactions between the vendor and their customers.</p>
    <p>5.	The registered vendors or the customers can communicate with each other and mutually discuss the returns, refunds and cancellations.</p>
    <p>6.	The onus of checking the goods when delivered lies in the hands of the receiver. Any damage during transport needs to be intimated to My3Karrt immediately with photo evidence along with the delivery person’s photo with the parcel.</p>
    <p>7.	However, apart from damage of goods during transportation, My3Karrt does not take up the responsibility of before and after handing over of the goods.</p>
    <p>8.	Every pack comes with a safety seal and each parcel is delivered with no-contact delivery. However, incase the seal is broken or the parcel is mishandled, the customer has to immediately share the damaged material details to the vendor and also to My3Karrt.</p>
    <b>Disclaimer:  Please note that this is not a legal document and My3kaRRt refrains from taking responsibility of the legal implications of the above policy.</b>
  </div>
</ion-content>
