<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="cog-outline"></ion-icon>Terms And Conditions
  </h2>
  <div class="content-section">
    <p>Please read the following terms and conditions and the linked Privacy Policy carefully as
      your use of the service is subject to your acceptance of and compliance with the following terms and conditions
      ("Terms"). The Site allows you to browse, select and purchase products/services and Accessories (“Goods” or “Products” or
      “Services”). By subscribing to, using any of our services and any purchases made by you through the website shall
      signify your acceptance of the supply terms and your agreement to be legally bound by the same. In addition to the
      foregoing, you shall also be bound by the terms of use of the website or additional terms of service which are
      displayed with the selection of the product. If there is any conflict between the supply terms and the additional
      terms, the additional terms shall take precedence in relation to that sale. In these Terms, references to "you",
      "User" shall mean the end user accessing the Website, its contents and using the Services offered through the
      Website. "Service Providers" mean independent third party service providers, and "we", "us" and "our" shall mean
      my3karrt.</p>
    <h4>Introduction:</h4>
    <p> my3karrt.com ("Website") is an Internet based content and e-commerce portal
      operated by Swati Handicrafts, a company incorporated under the laws of India. Use of the Website is offered to
      you conditioned on acceptance without modification of all the terms, conditions and notices contained in these
      Terms, as may be posted on the Website from time to time. my3karrt.com at its sole discretion reserves the
      right not to accept a User from registering on the Website without assigning any reason thereof. The Company may
      amend this Agreement and/or the Privacy Policy at any time by posting a revised version on the Site. All updates
      and amendments shall be notified on the website. The revised version will be effective at the time we post it on
      the Site, and in the event you continue to use our Site, you are impliedly agreeing to the revised TERMS AND
      CONDITIONS and Privacy Policy expressed herein. In addition, if the revised version of this Agreement includes a
      Substantial Change, we will provide you with 30 days’ prior notice of such Substantial Change as per the
      Notification Preferences provided by you. You are advised to regularly check for any amendments or updates to the
      terms and conditions contained in this Agreement. For the purpose of this Agreement, the term “Substantial Change”
      means a change to the terms of this Agreement that materially reduces your rights or increases your
      responsibilities. Please read these terms and conditions carefully. These terms &amp; conditions, as modified or
      amended from time to time, are a binding contract between the company and you. If you visit, use, or shop at the
      site (or any future site operated by the company, you accept these terms and conditions). In addition, when you
      use any current or future services of the company or visit or purchase from any business affiliated with the
      company or third party vendors, whether or not included in the site, you will also be subject to the guidelines
      and conditions applicable to such service or merchant. If these conditions are inconsistent with such guidelines
      and conditions, such guidelines and conditions will prevail.</p>
    <h4>User Account, Password, and Security:</h4>
    <p> You will receive a password and account designation upon completing the Website's
      registration process. You are responsible for maintaining the confidentiality of the password and account, and are
      fully responsible for all activities that occur under your password or account. You agree to (a) immediately
      notify my3karrt.com of any unauthorized use of your password or account or any other breach of security, and
      (b) ensure that you exit from your account at the end of each session. my3karrt.com cannot and will not be
      liable for any loss or damage arising from your failure to comply with this Section.</p>
    <h4>Services Offered:</h4>
    <p>my3karrt.com provides a number of Internet-based services through the Web Site (all
      such services, collectively, the "Service"). One such service enables users to purchase original merchandise such
      as products and services. (collectively, "Products"). Upon placing an order, my3karrt.com shall ship the
      product to you and be entitled to its payment for the Services.</p>
    <h4>Privacy Policy:</h4>
    <p>The User hereby consents, expresses and agrees that he has read and fully understands the
      Privacy Policy of my3karrt.com. The user further consents that the terms and contents of such Privacy Policy
      are acceptable to him.</p>
    <h4>Channel Subscription:</h4>
    <p>As a condition of purchase, the Site requires your permission to send you administrative
      and promotional emails. We will send you information regarding your account activity and purchases, as well as
      updates about our products and promotional offers. You can opt out of our promotional emails anytime by clicking
      the UNSUBSCRIBE link at the bottom of any of our email correspondences. Please see our Privacy Policy for details.
      We shall have no responsibility in any manner whatsoever regarding any promotional emails or SMS/MMS sent to you.
      The offers made in those promotional emails or SMS/MMS shall be subject to change at the sole discretion of the
      Company and the Company owes no responsibility to provide you any information regarding such change. By placing an
      order, you make an offer to us to purchase products you have selected based on standard Site restrictions,
      Merchant specific restrictions, and on the terms and conditions stated below. You are required to create an
      account in order to purchase any product from the Site. This is required so we can provide you with easy access to
      print your orders and view your past purchases.</p>
    <h4>Limited User:</h4>
    <p>The User agrees and undertakes not to reverse engineer, modify, copy, distribute,
      transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any
      information or software obtained from the Website. Limited reproduction and copying of the content of the Website
      is permitted provided that ‘Swati Handicrafts’ name is stated as the source and prior written permission of
      my3karrt.com is sought. For the removal of doubt, it is clarified that unlimited or wholesale reproduction,
      copying of the content for commercial or non-commercial purposes and unwarranted modification of data and
      information within the content of the Website is not permitted.</p>
    <h4>No Compensation Policy:</h4>
    <p>If the quality of any products, services, information, or other material purchased or
      obtained by you through the Website did not meet your expectations, no compensation will be given as per the
      Return and Exchange policy. The customer cannot request compensation for any reason, including but not limited to:
      any variation in the finish or appearance of the final product; any delay in delivery caused by unforeseen
      circumstances; any special, incidental, indirect or consequential damage of any kind caused by a product; missed
      opportunities to avail certain discounts; any issue with our Delivery partners or their personnel; any voucher
      which got deactivated due to the end of expiry date; unavailability of items which the customer tried to purchase
      etc. Unreasonable and unlawful requests for compensation will be treated as loss to business cases. Swati
      Handicrafts holds the rights to cancel orders and block accounts of such customers without any prior notice.</p>
    <h4>Exactness Not Guaranteed:</h4>
    <p>my3karrt.com hereby disclaims any guarantees of exactness as to the finish and
      appearance of the final Product as ordered by the user, as quality of imagery cannot be taken as a final
      representation. The quality of any products, Services, information, or other material purchased or obtained by you
      through the Website will be as per the company standards. Alterations to certain aspects of your order such as the
      brand, size, colour etc. may be required due to limitations caused by availability of product difference in size
      charts.</p>
    <h4>Intellectual Property Rights:</h4>
    <p>Unless otherwise indicated or anything contained to the contrary or any proprietary
      material owned by a third party and so expressly mentioned, my3karrt.com owns all Intellectual Property
      Rights to and into the Website, including, without limitation, any and all rights, title and interest in and to
      copyright, related rights, patents, utility models, trademarks, trade names, service marks, designs, know-how,
      trade secrets and inventions (whether patentable or not), goodwill, source code, meta tags, databases, text,
      content, graphics, icons, and hyperlinks. You acknowledge and agree that you shall not use, reproduce or
      distribute any content from the Website belonging to my3karrt.com without obtaining authorization from
      my3karrt.com.</p>
    <h4>Links To Third Party Sites:</h4>
    <p>The Website may contain links to other websites ("Linked Sites"). The Linked Sites are not
      under the control of my3karrt.com or the Website and my3karrt.com is not responsible for the contents
      of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to
      a Linked Site. my3karrt.com is not responsible for any form of transmission, whatsoever, received by you
      from any Linked Site. my3karrt.com is providing these links to you only as a convenience, and the inclusion
      of any link does not imply endorsement by my3karrt.com or the Website of the Linked Sites or any association
      with its operators or owners including the legal heirs or assigns thereof. The users are requested to verify the
      accuracy of all information on their own before undertaking any reliance on such information.</p>
    <h4>Indemnification:</h4>
    <p>You agree to indemnify, defend and hold harmless my3karrt.com from and against any
      and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in
      connection therewith and interest chargeable thereon) asserted against or incurred by my3karrt.com that
      arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation,
      warranty, covenant or agreement made or obligation to be performed by you pursuant to these Terms.</p>
    <h4>Pricing:</h4>
    <p>Prices for products are described on our Website and are incorporated into these Terms by
      reference. Prices are in Indian rupees for the Indian market. Prices, products and Services may change at the
      discretion of my3karrt.com. In accordance with brand guidelines, prices might change when the stocks are
      replenished. Prices may vary for different geographies and this is at the discretion of the brand.</p>
    <h4>Shipping:</h4>
    <p>Title and risk of loss for all products ordered by you shall pass on to you upon
      my3karrt.com's shipment to the shipping carrier.</p>
    <h4>Delivery:</h4>
    <p>my3karrt.com will make a maximum of three attempts to deliver your order. In case
      the customer is not reachable or does not accept delivery of products in these attempts, my3karrt.com
      reserves the right to cancel the order(s) at its discretion. An estimated delivery time is displayed on the Order
      Summary page. On placing your order, you will receive an email containing a summary of the order and also the
      estimated delivery time to your location. Sometimes, delivery may take longer due to bad weather flight delays
      political disruptions other unforeseen circumstances In such cases, we will proactively reach out to you. Please
      check your emails regularly for such updates. The Buyer agrees that the title to the goods is transferred to the
      buyer at the time of placing the Order and dispatch confirmation thereof irrespective of Shipping of Goods and/or
      COD which are to be done in due course being a separate chargeable facilities</p>
    <h4>Post Delivery:</h4>
    <p> Return and Exchange conditions: my3karrt.com will accept only Exchanges in the
      India market and not returns if the following conditions are met. Exchange only allowed for size change Intimation
      should be sent to swatihandicrafts64.com within 48 hours of receiving the package. The tags on the product should
      be intact. The product should be unwashed, unused and in an undamaged condition. The item needs to be returned
      along with the original packaging.</p>
    <h4>Termination:</h4>
    <p>my3karrt.com may suspend or terminate your use of the Website or any Service if it
      believes, in its sole and absolute discretion that you have breached any of the Terms. If you or
      my3karrt.com terminates your use of the Website or any Service, my3karrt.com may delete any content or
      other materials relating to your use of the Service and my3karrt.com will have no liability to you or any
      third party for doing so. You shall be liable to pay for any Service or product that you have already ordered till
      the time of Termination by either party whatsoever.</p>
    <h4>Governing Law:</h4>
    <p>These terms shall be governed by and constructed in accordance with the laws of India
      without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the
      exclusive jurisdiction of the courts at New Delhi.</p>
    <h4>Headings:</h4>
    <p>The headings and subheadings herein are included for convenience and identification only
      and are not intended to describe, interpret, define or limit the scope, extent or intent of the Terms or the right
      to use the Website by you contained herein or any other section or pages of the Website or any Linked Sites in any
      manner whatsoever.</p>
    <h4>Interpretation Of Number And Genders:</h4>
    <p>The Terms herein shall apply equally to both the singular and plural form of the terms
      defined. Whenever the context may require, any pronoun shall include the corresponding masculine and feminine. The
      words "include", "includes" and "including" shall be deemed to be followed by the phrase "without limitation".
      Unless the context otherwise requires, the terms "herein", "hereof", "hereto", "hereunder" and words of similar
      import refer to the Terms as a whole.</p>
    <h4>Severability:</h4>
    <p>If any provision of the Terms is determined to be invalid or unenforceable in whole or in
      part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the
      remaining part of such provision and all other provisions of these Terms shall continue to be in full force and
      effect.</p>
    <h4>Unauthorized Charges on your card</h4>
    <p>If you see charges on your credit/debit card for purchases made on my3karrt.com, but
      you never created an account or signed up, please check with your family members or business colleagues authorized
      to make purchases on your behalf, to confirm that they haven't placed the order. If you're still unable to
      recognize the charge, please report the unauthorized purchase within 60 days of the transaction to enable Swati
      Handicrafts to begin an investigation.</p>
    <h4>Cancellation of Fraudulent/Loss to business Orders</h4>
    <p>To provide a safe and secure shopping experience, we regularly monitor transactions for
      fraudulent activity. In the event of detecting any suspicious activity, my3karrt.com reserves the right to
      cancel all past, pending and future orders without any liability. my3karrt.com also reserves the right to
      refuse or cancel orders in scenarios like inaccuracies in pricing of products on websites and stock
      unavailability. We may also require additional verifications or information before accepting any order. We will
      contact you if all or any portion of your order is cancelled or if additional information is required to accept
      your order. If your order is cancelled after your card has been charged, the said amount will be reversed to your
      Card Account. Any promotional voucher used for the cancelled orders may not be refunded. </p>
    <h5>The customer may be considered fraudulent if any of the following scenarios are met:</h5>
    <p> Customer doesn't reply to the payment verification mail sent by Swati Handicrafts
      Customer fails to produce adequate documents during the payment details verification Misuse of another customer's
      phone/email Customer uses invalid email and phone no. Customer refuses to pay for an order Customer is involved in
      the snatch and run for any order The customer may be considered loss to business if any of the following scenarios
      are met: Customer with a very high return rate Invalid/Incomplete address cases Repeated request for monetary
      compensation for petty issues Account for the customers falling in fraudulent or loss to business categories may
      be blocked.</p>
    <h4>Cancellation of Bulk Orders</h4>
    <p>my3karrt.com may cancel any orders that classify as 'Bulk Order' under certain
      criteria at any stage of the product delivery. An order can be classified as 'Bulk Order' if it meets with the
      below mentioned criteria, and any additional criteria as defined by my3karrt.com: Products ordered are not
      for self-consumption but for commercial resale Multiple orders placed for same product at the same address,
      depending on the product category Bulk quantity of the same product ordered Invalid address given in order details
      Any malpractice used to place the order Any promotional voucher used for placing the 'Bulk Order' may not be
      refunded</p>
    <h4>Process for Pilferage Claim</h4>
    <p>If a customer raises a complaint for partial item/partial order through Customer Care The
      customer is supposed to claim for pilferage within 48 hours of delivery failing which the claim will not be
      entertained.</p>
    <h5>An Email will be sent seeking/providing following information:</h5>
    <p>Short description of the case (A few questions will be asked to help us understand the
      scenario) The snapshots of the box (Try to cover the sides which look tampered/damaged as per the customer) The
      refund for prepaid orders will be done after investigation, which usually requires 5-6 business days. The process
      will include investigation with the concerned departments</p>
    <h5>The customer may not be liable for a refund if he/she falls in any of the scenarios
      stated below:</h5>
    <p>Customer fails to provide adequate information about the case Customer fails to provide
      snapshots of the packet and box (if any) If an opened delivery was received, pilferage claims must be made the
      same day Customers must not dispose of the packaging for 3-4 days post delivery. We might need to pick-up your
      packaging for investigation at our end.</p>
  </div>

</ion-content>