<ion-content class="login-form ion-padding after-login-bg">
  <h4 class="page-title">
    <ion-icon name="cog-outline"></ion-icon>Terms and Conditions of Use
  </h4>
  <div class="content-section">
    <p>These are the terms and conditions (hereinafter referred as the “<b>Terms and Conditions</b>”) governing your
      use of the MY3kaRRt App (herein after referred as the “<b>App</b>”). By accessing the App, you accept and agree
      to the following Terms and Condition of use.</p>
    <p>This document is an electronic record under the provisions of the Information Technology Act, 2000 and
      Rules framed there under (as applicable or amended from time to time). This electronic record is generated
      by a computer system and does not require any physical or digital signatures.</p>
    <p>This document is published in accordance with the provisions of Rule 3 (1) of the Information
      Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations,
      privacy policy for access or usages of the MY3kaRRt App.</p>
    <h5>Definition</h5>
    <p>For the purpose of this Terms and Conditions, wherever the context so requires, “you” or “Merchant” or
      “Customer” or “User” shall mean any natural or legal who has agreed to use the App, whether subscribed or
      not. The terms “we”, “us”, “our” shall mean the App.</p>
    <p>These Terms and Conditions, together with the Privacy Policy, and any other terms specifically referred
      to in any of those documents, constitute a legally binding agreement (the "<b>Agreement</b>") between you and
      MY3kaRRt App in relation to your use of the App.</p>
    <p>The App, Customers and the Merchants are hereinafter referred to individually as a “<b>Party</b>” and collectively
      as the “Parties” as the context may require.</p>
    <h5>Introduction</h5>
    <p>The services of MY3kaRRt App are provided by the Down South Empire Private Limited (“Company”)bearing
      CIN no. U72900KA2019PTC122170, a company incorporated under the Companies Act, 2013having its registered
      office at Temple Medows Apartment, C-602 27th Cross, Banashankari 2nd Stage Bangalore Bangalore KA 560070
      IN.</p>
    <p>The App is a service provider app that promotes storesand enables these stores to sell their products
      directly to customers. The App also engages with its customers with the last mile delivery services.</p>
    <h5>General Terms of Use</h5>
    <p>By virtue of using the App, it is deemed that you accept all and any of the Terms and Conditions
      specified herein. This Agreement constitutes the entire agreement between you and the App and governs
      your use of the App superseding any prior agreements between you and the App.</p>
    <p>While using the App you represent and confirm that you are 18 years of age or above and you are not
      incompetent to contract under the Indian Contract Act, 1872.</p>
    <p>The App reserves the right to assign this Agreement, and all rights and obligations hereunder, to a
      successor to all or any of its assets, whether by sale, merger or otherwise. These terms shall be binding
      upon the parties hereto and their respective representatives, heirs, administrators, successors and
      permitted assigns except as otherwise provided herein.</p>
    <p>The App reserves the right to update, change, modify, add or remove the terms, conditions and notices
      of the Agreement without any prior notice to you. It is advised that you should periodically review the
      most current version of this Agreement.</p>
    <p>Please note that your continued use of this App signifies your acceptance of any changed terms.</p>
    <p>All intellectual property which is in relation to the App is owned by and vests in the Company.</p>
    <p>By using the App, you consent to downloading and installing updates to the App’s services,
      including automatically.</p>
    <h5>Relationship with Merchants</h5>
    <p>MY3kaRRt is an app and will act as an intermediary between the Merchant and the Customers wherein the
      Customers shall be able to find stores of various Merchants as per their needs. The Customers shall also
      be able to buy/purchase/book goods and services of various Merchants through the App.</p>
    <p>The relationship between the App and the Merchants shall be on principal-to-principal basis. Nothing
      contained herein shall be deemed to create any association, partnership, joint venture or relationship
      of principal and agent or master and servant, or employer and employee between the Company hereto or any
      affiliates or subsidiaries thereof or to provide either Party with the right, power or authority, whether
      express or implied to create any such duty or obligation on behalf of the other Party.</p>
    <h5>Subscription by Merchants</h5>
    <p>In order to avail the services of the App, Merchants are required to subscribe and create an account
      on the App by providing information about themselves including name, email or mobile, number, address of
      their stores and address of their residence.</p>
    <p>Merchants shall be required to pay a subscription amount as per their respective Definitive Agreement.</p>
    <p><i>For the purpose of the above “<b>Definitive Agreement</b>” shall mean agreement executed by and between the
      Merchant and the Company further governing the terms and conditions of the use of the App by the
      Merchants for the purpose of their business.</i></p>
    <p>Upon subscription, the Merchant shall be entitled to list one of their physical stores in the app and they
      will be provided with two virtual stores (Optional)</p>
    <h5>Terms of use for the Merchants</h5>
    <p>The Merchants represent that they are bonafide business organisation carrying on the business of such
      goods and services as disclosed by them in the App and the business carried out by them does not infringe
      or violate any of the laws in force in India.</p>
    <p>The Merchants have full control over the quality, safety, or legality of the goods and services advertised
       or listed on the App. The Merchants shall be responsible for mitigation of any grievances arising out of
      their goods and services sold to the Customers.</p>
    <p>The App or the Company shall not be responsible for any loss or damage arising directly or indirectly to
      the Merchants due to any payment issues arising out of the transaction including but not limited to
      invalidity of the credit or the debit card, expiry of such card, lack of authorization for any
      transaction/s, insufficient money in the account of the Customer.</p>
    <h5>Terms of use for Customers</h5>
    <p>The Customers shall be able to use the App for the purpose of buying/ purchasing/booking of goods and
      services and for locating physical stores of various Merchants.</p>
    <p>The App shall have no involvement in the actual transaction between the Customers and the Merchants.</p>
    <p>Please remember that there are risks in dealing with people you do not know, and that this Platform has
      no control over such risks.</p>
    <p>The Customers may make payment of their bought/purchased/booked goods and services through the App.
      However, please remember that the App or the Company are not (i) a payment System Provider as defined
      under the Payment and Settlement Systems Act, 2007, (ii) a banking company as defined under the Banking
      Regulation Act, 1949 or (iii) a non-banking financial company as defined by the Reserve Bank of India Act,
      1938.</p>
    <p>The App provides the payment facility for any transaction between the Merchants and the Customers through
      payment gateways which are processed by the RBI authorised entities. Any Payment made by the Customer shall
      be directly credited to the account of the Merchant.</p>
    <p>The Company shall not be liable or responsible for any claims or damages arising out of non-processing of
      any transaction or any delay in processing of any transaction.</p>
    <p>The App or the Company does not have any control over the quality, safety, or legality of the goods and
      services advertised, the truth or accuracy of the listings, the ability of the Merchants to actually sell
      goods and services they list, or the ability of the Customers to actually buy/ purchase/book goods and
      services.</p>
    <h5>Terms of use for Social Networking</h5>
    <p>The App provides messaging services to its Users. You may register for the messaging services by providing
      your accurate data. You must use the App for legal and authorised and acceptable purposes.</p>
    <h5>Account Security</h5>
    <p>You are responsible for safeguarding the confidentiality of your MY3kaRRt App’s login credentials to prevent
      unauthorized access to your account. Further, you agree to accept responsibility for all activities that occur
      under your account.</p>
    <h5>Disclaimer</h5>
    <p>This App is provided on as is and as available basis. Your use of this App is at your own risk. MY3kaRRT disclaims
    all warranties express or implied including without limitation for non-infringement, merchantability, satisfactory
    quality and fitness for purpose to the fullest extent permissible by law.</p>
    <p>The Merchants acknowledge that any warranty that is provided with any of the goods and services made available to
      the Customers through the App is provided solely by the Merchant or the manufacturer of the goods and services. MY3kaRRt
      shall not be held liable for any breach of such warranty.</p>
    <h5>Indemnification</h5>
    <p>Merchant shall indemnify and hold harmless MY3kaRRt its affiliates, directors, officers, agents and employees from loss,
      or damage including attorney’s fee, arising from any claim asserted by any Customer or any third-party due to or arising
      out of any act or omission by the Merchant or its affiliates, employees or agents.</p>
    <h5>Limitation of Liability</h5>
    <p>To the fullest extent permitted by applicable law, MY3kaRRt shall not be liable for any special, indirect,
      including third party claims, consequential or incidental damages, including but not limited to damages for
      loss of business profits, business interruption, loss of business information and the like, howsoever arising
      during the term of this Agreement.</p>
    <h5>Termination</h5>
    <p>MY3kaRRt reserves the right in good faith to terminate this Agreement and delete your account or terminate your subscription
      of the App at our sole discretion without any notice.</p>
    <p>Upon termination, your right to use the App will cease immediately. All provisions of this Terms and Conditions
      that by their nature should survive termination shall survive termination, including, without limitation, disclaimers, and
      limitations of liability. Termination of your access to and use of the App and its services shall not relieve you of any
      obligations arising or accruing prior to such termination.</p>
    <h5>Applicable Law and Dispute Resolution</h5>
    <p>This Agreement shall be governed by and subject to the laws of India.</p>
    <p>Any dispute, difference or claim arising out of or relating to this Agreement, which cannot be settled by mutual discussions
      between the Parties within 30 (thirty) days of the dispute or difference taking place, shall be finally settled by arbitration,
      in accordance with the provisions of the Arbitration and Conciliation Act, 1996.</p>
    <p>The Parties shall appoint a sole arbitrator by mutual consent, failing which each Party shall have the right to nominate one
      arbitrator each and the two nominated arbitrators shall together appoint a third arbitrator, pursuant to which the three
      arbitrators shall jointly conduct the arbitration proceedings.</p>
    <p>The arbitration proceedings shall be held in Bangalore, in English language, and the arbitral tribunal shall have the
      power to award interest and costs.</p>
    <p>The award shall be binding on the Parties subject to the applicable laws in force and the award shall be enforceable
      in any competent court of law.</p>
  </div>

</ion-content>
