.ion-list-ele {
    height: auto;
    max-height: 495px;
    overflow-y: auto;
    background: transparent;
    ion-row {
        position: relative;
        padding-left: 15px;
        border: 1px solid darkorange;
        border-radius: 6px;
        margin-bottom: 6px;
    }
    
    .row-icon::before {
        content: '^';
        position: absolute;
        font-size: 7vw;
        left: 0px;
        color: darkorange;
        transform: rotate(180deg);
    }
    ion-col {
        font-size: 3vw;
    }
}
.order-status {
    border: 1px solid #111;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 5px;
    overflow-y: auto;
    max-width: 100%;
    white-space: break-spaces;
    padding: 10px;
    position: relative;
    padding-left: 20px;
}
.order-status::before{
    content: '+';
    position: absolute;
    font-size: 32px;
    left: 0px;
    color: darkorange;
    top: 8px;
    left: 2px;
}
.selected::before{
    content: '-';
    left: 4px;
}