.ion-list-ele {
    height: auto;
    max-height: 495px;
    overflow-y: auto;
    background: transparent;
    ion-row {
        position: relative;
        padding-left: 15px;
        border: 1px solid darkorange;
        border-radius: 6px;
        margin-bottom: 6px;
    }
    .order-status::before{
        content: '^';
        position: absolute;
        font-size: 7vw;
        left: 0px;
        color: darkorange;
        top: 3vw;
    }
    .row-icon::before {
        content: '^';
        position: absolute;
        font-size: 7vw;
        left: 0px;
        color: darkorange;
        transform: rotate(180deg);
    }
    ion-col {
        font-size: 3vw;
    }
}