<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>Service Orders</h2>
   <ion-grid>
    <div  (click)="expandItem($event, item, i)" *ngFor="let item of orders;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}" >
      <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Service Name: <b>{{item.serviceName}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Ordered Date: <b>{{item.createdOn|date:"dd/MM/yy"}}</b></ion-label>
        </ion-col>
        </div>
        <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Order Id: <b>{{item.orderID}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Delivery Status: <b>{{item.status}}</b></ion-label>
        </ion-col>
      </div>    
      <app-service-order-row-expand *ngIf="showStoreOrders  && item.expand" [totalAmount]="totalAmount" [items]="orderedItems" 
      [expanded]="item.expand"></app-service-order-row-expand>   
    </div>
</ion-grid>
</ion-content>
