<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>Service Orders</h2>
   <!-- <ion-grid>
    <div  (click)="expandItem($event, item, i)" *ngFor="let item of orders;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}" >
      <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Service Name: <b>{{item.serviceName}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Ordered Date: <b>{{item.createdOn|date:"dd/MM/yy"}}</b></ion-label>
        </ion-col>
        </div>
        <div class="body" style="display: flex;">
        <ion-col>
          <ion-label>Order Id: <b>{{item.orderID}}</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Delivery Status: <b>{{item.status}}</b></ion-label>
        </ion-col>
      </div>    
      <app-service-order-row-expand *ngIf="showStoreOrders  && item.expand" [totalAmount]="totalAmount" [items]="orderedItems" 
      [expanded]="item.expand"></app-service-order-row-expand>   
    </div>
</ion-grid> -->
<table class="table">
  <tbody>
    <div (click)="expandItem($event, item, i)" *ngFor="let item of orders;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}">
      <tr>
        <td><b>Service Name:</b></td>
        <td class="label" style="width: 140px;">{{item.serviceName}}</td>
        <td><b>Ordered Date:</b></td>
        <td class="label">{{item.createdOn|date:"dd/MM/yy"}}</td>
      </tr>
      <tr>
        <td><b>Order Id:</b></td>
        <td class="label">{{item.orderID}}</td>
        <td><b>Delivery Status:</b></td>
        <td class="label">{{item.status}}</td>
      </tr>
      <app-service-order-row-expand *ngIf="showStoreOrders  && item.expand" [totalAmount]="totalAmount" [items]="orderedItems" 
      [expanded]="item.expand"></app-service-order-row-expand>
    </div>
  </tbody>
</table>
</ion-content>
