.img {
    height: 100%;
    width: 100%;
}
.search-bar {
    margin-top:25px;
}
.category {
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 15px;
}

q::before,
q::after {
  animation: dancing 1s linear infinite;
  display: inline-block;
  transform: rotate(13deg);
}

@keyframes dancing {
  0% {
    transform: rotate(13deg) scale(2);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-13deg) scale(2);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(13deg) scale(2);
  }
}
q {
  quotes: "‘" "’" "“" "”" "‘" "’" "“" "”";
}

blockquote {
    color: darkorange;
    font-weight: bold;
    text-align: center;
}