.ion-ele {
    border-radius: 15px;
    border: 1px solid;
    border-width: thin;
    --background: transparent;
    margin-bottom: 5px;
}
.units {
    display: flex;
    align-items: center;
    ion-input {
    border: 1px solid var(--iconcolor);
    width: 100px;
    border-radius: 5px;
    text-align: center;
    }
}
.product {
    color: var(--black);
    border: 1px solid darkgreen;
    margin-bottom: 10px;
    border-radius: 15px;
	--background:transparent
}
.product-img {
  width: 50px;
  height: 50px;
}
.product-name {
    margin: 5px auto;
}
.plus-minus {
    font-size: 30px;
}
