<ion-content padding>
  <ion-row>
    <ion-col size="10">
      <h2 class="page-title">Cart</h2>
    </ion-col>
    <ion-col size="2">
      <ion-icon class="plus-minus" name="close-circle-outline" (click)="dismiss()"></ion-icon>
    </ion-col>
  </ion-row>
  <div *ngIf="isEmptyCart" class="empty-cart">
    <div class="empty-results">
      <p style="text-align: center;">
        <ion-icon name="cart"></ion-icon>
        Your cart is empty
      </p>
    </div>
  </div>
  <ion-row class="btm-btn" *ngIf="!isEmptyCart">
    <ion-button type="submit" shape="round"  class="ion-margin-bottom"
      (click)="navigateTo('category-search')">Continue <ion-icon name="cart-outline" color="#FFF"></ion-icon></ion-button>
    <ion-button type="submit" shape="round" [attr.disabled]="disableCheckout" class="ion-margin-bottom" (click)="navigateTo('checkout')">
      Proceed To Checkout</ion-button>
  </ion-row>
  <div *ngIf="!isEmptyCart" class="cart-itm-wrap">
    <ion-card class="cart-list" *ngFor="let item of  cartItems">
      <ion-card-content>
        <ion-row>
          <ion-col size="2" style="margin: auto">
            <ion-avatar>
              <img src="{{item.url}}" *ngIf="item.url">
              <img src="../../../assets/images/default-image.jpg" *ngIf="!item.url">
            </ion-avatar>
          </ion-col>
          <ion-col size="4" class="ion-text-left">
            <h3 text-left>{{item.productName? item.productName: item.businessName}}</h3>
            <div class="itm-footer">
              <span class="price" text-left>
                {{item.priceAfterDiscount | currency:'INR'}}
              </span>
            </div>
            <!-- <h3>Total Price:  {{itm.price * itm.count | currency:'INR'}}</h3> -->
          </ion-col>
          <ion-col size="4" class="ion-padding-top ion-text-right" >
            <p class="ion-no-margin units" *ngIf="item.productID">
              <ion-icon class="plus-minus" name="remove-circle" (click)="decrement(item)" item-right></ion-icon>
              <ion-input type="number" min="1" [value]="currentNumber" [(ngModel)]="item.itemCount"></ion-input>
              <ion-icon class="plus-minus" name="add-circle" (click)="increment(item)" item-right></ion-icon>
            </p>
          </ion-col>
          <ion-col size="2" class="ion-padding-top ion-text-right">
            <ion-icon class="delete" name="trash-outline" (click)="removeItem(item)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
