page-cart {
    .fixed-content,
    .scroll-content {
         background: #EAEAEA;
         .empty-cart{
              margin-top: 50%;
              height: 100%;
              .empty-results{
                   p{
                        font-size: 30px;
                        color: rgb(175, 175, 175);
                   }
              }
         }

         ion-card {
              margin: 10px 0;
              width: 100%;
              min-height: 85px !important;
              ion-card-content {
                   ion-col {
                        padding: 0;
                        ion-item {
                             min-height: 75px !important;
                             padding: 0 !important;
                             .item-inner {
                                  padding: 0 !important;
                                  ion-label {
                                       min-height: 75px !important;
                                       margin: 0 !important;

                                  }
                             }
                        }
                   }
              }
         }
    }
}
.units {
    display: flex;
    align-items: center;
    width: 100px;
    ion-input {
    border: 1px solid var(--iconcolor);
    width: auto;
    height: 30px !important;
    border-radius: 5px;
    text-align: center;
    }
}
.plus-minus {
    font-size: 30px;
}
.cart-list {
     border: 1px solid #bbb;
     border-radius: 10px;
     height: 90px;
    ion-card-content {
        padding: 10px !important;
        .delete {
            font-size: 28px;
            margin-left: 7px;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}
.btm-btn {
     ion-button {
     margin: 5px auto;
     font-size: 9px;
     ion-icon {
          font-size: 32px;
     }
     }
}
.cart-itm-wrap {
     height: auto;
     max-height: 444px;
     overflow-y: auto;
}
