<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list>
    <table class="table1" style=" margin-left: 10px;">
      <tbody>
        <tr>
          <td><b>Order Date: </b></td>
          <td class="label"> {{orderDetails.createdOn | customdatetime}}</td>
        </tr>
        <tr>
          <td><b>Delivery Status: </b></td>
          <td class="label"> {{orderDetails.deliveryStatus}}</td>
        </tr>
        <tr *ngIf="orderDetails.executiveName">
          <td><b>Executive Name: </b></td>
          <td class="label"> {{orderDetails.executiveName}}</td>
        </tr>
        <tr *ngIf="orderDetails.executiveMobileNumber">
          <td><b>Executive Mobile Number: </b></td>
          <td class="label"> {{orderDetails.executiveMobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Store Name: </b></td>
          <td class="label" style="width: 140px;"> {{orderDetails.storeName}}</td>
        </tr>
        <tr>
          <td><b>Delivery Type: </b></td>
          <td class="label" style="width: 140px;"> {{ orderDetails.deliveryType == 1 ? 'Self Pickup': 'Home Delivery'}}</td>
        </tr>
        <tr>
          <td><b>Payment Type: </b></td>
          <td class="label" style="width: 140px;"> {{ orderDetails.paymentType == 1 ? 'Cash On Delivery' : 'Online Payment'}}</td>
        </tr>
        <tr *ngIf="orderDetails.paymentType == 0">
          <td><b>Transaction Id: </b></td>
          <td class="label" style="width: 140px;"> {{orderDetails.transactionId}}</td>
        </tr>
        <tr>
          <td><b>Sub Total: </b></td>
          <td class="label" style="width: 140px;"> {{ orderDetails.subTotal | currency:'INR'}}</td>
        </tr>
        <tr *ngIf="orderDetails.deliveryType == 0">
          <td><b>Delivery Charges& Processing Fee: </b></td>
          <td class="label" style="width: 140px;"> {{orderDetails.deliveryCharge + orderDetails.processingFee | currency:'INR'}}</td>
        </tr>
        <tr *ngIf="orderDetails.deliveryType == 1">
          <td><b>Processing Fee: </b></td>
          <td class="label" style="width: 140px;"> {{ (orderDetails.processingFee == null ? 0: orderDetails.processingFee) |currency:'INR'}}</td>
        </tr>
        <tr>
          <td><b>Total Order Value: </b></td>
          <td class="label" style="width: 140px;"> {{ orderDetails.totalAmount | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>



    <!-- <p style="margin: auto;">Delivery Type:- <b>{{ orderDetails.deliveryType == 1 ? 'Self Pickup': 'Home Delivery'}}</b>
    </p>
    <p style="margin: auto;">Payment Type:- <b>{{ orderDetails.paymentType == 1 ? 'Cash On Delivery' : 'Online Payment'
        }}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.paymentType == 0">transaction Id:- <b>{{
        orderDetails.transactionId}}</b></p>
    <p style="margin: auto;">Sub Total:- <b>{{ orderDetails.subTotal | currency:'INR'}}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.deliveryType == 0">Delivery Charges& Processing Fee:- <b>{{
        orderDetails.deliveryCharge + orderDetails.processingFee | currency:'INR'}}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.deliveryType != 1">Processing Fee:- <b>{{ orderDetails.processingFee |
        currency:'INR'}}</b></p>
    <p style="margin: auto;">Total Order Value:- <b>{{ orderDetails.totalAmount | currency:'INR'}}</b></p> -->
    <table style="width: -webkit-fill-available;text-align:left;">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let itm of  orderedItems">
          <td>
            <ion-avatar>
              <img class="product-img" src="{{itm.url}}" *ngIf="itm.url">
              <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!itm.url">
            </ion-avatar>
          </td>
          <td>{{itm.productName}}</td>
          <td class="label">{{itm.quantity}}</td>
          <td class="label">{{ itm.priceAfterDiscount | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <ion-item *ngFor="let itm of  orderedItems">     
      <ion-avatar>
        <img class="product-img" src="{{itm.url}}" *ngIf="itm.url">
        <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!itm.url">
      </ion-avatar>
      <ion-label style="white-space: break-spaces;">
        <table class="table">
          <tbody>
            <tr>
              <td><b>Name:</b></td>
              <td class="label" style="width: 140px;">{{itm.productName}}</td>
            </tr>
            <tr>
              <td><b>Qty:</b></td>
              <td class="label">{{itm.quantity}}</td>
              <td><b>Units:</b></td>
              <td class="label">{{itm.units}}</td>
            </tr>
            <tr>
              <td><b>Price:</b></td>
              <td class="label">{{ itm.priceAfterDiscount | currency:'INR'}}</td>
            </tr>
          </tbody>
        </table>
      </ion-label>
    </ion-item> -->
  </ion-list>
</div>