<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list>
    <p class="ion-text-center" style="margin: auto;">Total Order Value:- <b>{{ TotalAmount| currency:'INR'}}</b></p>
    <ion-item *ngFor="let itm of  orderedItems">
      <ion-avatar slot="start">
        <img src="{{'../assets/images/dump/'+itm.thumb}}">
      </ion-avatar>
      <ion-label>
        <ion-row>
          <ion-col size-xs="8" size-sm="6" size-md="6" size-lg="6">
            <h3>Name: <b>{{itm.productName}}</b></h3>
          </ion-col>
          <ion-col size-xs="4" size-sm="6" size-md="6" size-lg="6">
            <h3>Count: <b>{{itm.quantity}}</b></h3>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <h3>Price: <b>{{ itm.priceAfterDiscount | currency:'INR'}}</b></h3>
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <h3>Units: <b>{{itm.units}}</b></h3>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</div>