<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="bus-outline"></ion-icon>Shipping Policy
  </h2>
  <div class="content-section">
    <h4>Shipping Charges for Delivery In India: </h4>
    <p>We have a nominal charge of INR 60.00 towards shipping &amp; handling charges. </p>
    <p>Please note there are no additional charges for Cash on delivery payment orders. </p>
    <h6>1.Cash on Delivery is available in selected pin codes within India. </h6>
    <h6>2.The maximum orders value for Cash on Delivery order is capped at INR 15000.00.</h6>
    <h4>Shipping Charges for Delivery Outside India: </h4>
    <p>Unfortunately, you will not be able to place an order for delivery to an International
      location on Indian store. You will have to select/change your shipping location through the option provided on the
      footer of the website ‘SHIPPING TO’ and select the location of delivery. </p>
    <p> Please note changing your shipping location during checkout will lead to loss of items in
      your shopping bag. </p>
    <h4>Order Delivery &amp; Dispatch Policy : </h4>
    <p> We understand you are eagerly waiting for ordered styles to be delivered to you at the
      earliest. Our Customer Care &amp; Warehouse team works rigorously to ensure that we are able to bring a smile to
      your face. Our team performs multiple rounds of quality check and ensures that we deliver you your ordered styles
      in perfectly packed QC checked condition in the least possible time. </p>
    <p>We strive to dispatch your order in the earliest possible time however certain styles are
      procured and arranged from other locations and hence in a few cases the dispatch timelines can extend up to 2
      weeks. We will update you regarding the dispatch &amp; delivery status of your order via Email &amp; SMS. </p>
    <p>Once the order is dispatched, it normally takes 1-4 business days depending on the pin
      code for delivery to happen within India and 3-10 business days for deliveries outside India. Unforeseen
      circumstances on the logistics provider’s end may sometimes cause delays, however please be rest assured that our
      Customer Care team will be working very closely with the logistics provider to your orders delivered at the
      earliest. </p>
    <p> Alternatively, you can track the order status from your My Account section of the website
      OR get in touch with our Customer Care team on email swatihandicrafts64@gmail.com for any order &amp; dispatch
      related queries.</p>
    <p>Our delivery partners will attempt to deliver the package a maximum up to 3 times before
      they return it to us. Please provide the complete &amp; accurate shipping address including Pin code/Zip code and
      a valid mobile number. This will help us in delivering your order faster. </p>
  </div>

</ion-content>